.task-item-wrapper {
  display: flex;
  width: 250px;
  padding: 10px 0;

  .task-item {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 10px;

    input[type='checkbox'] {
      &:hover {
        cursor: pointer;
      }
    }

    .task-item-editable-text,
    .task-item-text {
      width: 78%;
      word-break: break-word;
    }

    .task-item-editable-text {
      outline: none;
    }

    .task-item-text.completed {
      text-decoration: line-through;
    }

    .delete-icon {
      cursor: pointer;
      stroke: #000;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}
