.task-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px 0;

  .task-item {
    display: flex;
    align-items: baseline;
    gap: 10px;
    line-height: 19px;

    input[type='checkbox'] {
      &:hover {
        cursor: pointer;
      }
    }

    .task-item-editable-text {
      flex: 1;
      outline: none;
      word-break: break-word;
      background-color: #007bff;
    }

    .task-item-text {
      flex: 1;
      word-break: break-word;

      &.completed {
        text-decoration: line-through;
      }
    }

    .delete-icon {
      cursor: pointer;
      stroke: #000;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}
