.task-group {
  position: relative;
  padding: 10px;
  height: fit-content;
  min-height: 50px;
  max-height: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 250px;
  display: flex;
  justify-content: space-between;

  .task-group-content {
    max-height: calc(100% - 20px);
    overflow-y: auto;
  }

  .group-footer {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    height: 18px;
    padding: 5px 10px;
    z-index: 1;

    .palette-icon, .delete-icon  {
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.125);
      }
    }
  }
}
