.new-list-panel {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fafafa;
  max-width: 450px;

  textarea {
    width:100%;
    resize:vertical;
    border:none;
    outline:none;
    font-size:1rem;
    background-color:inherit;
  }
}
